<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.daijia.customer.mapper.CustomerInfoMapper">

        <resultMap id="customerInfoVoRes" type="com.atguigu.daijia.model.vo.customer.CustomerInfoVo">
                <result property="nickname" column="nickname"/>
                <result property="gender" column="gender"/>
                <result property="avatarUrl" column="avatar_url"/>
                <result property="phone" column="phone"/>
        </resultMap>
        <select id="getCustomerInfoVo" resultMap="customerInfoVoRes">
            select nickname, gender, avatar_url, phone
            from customer_info
            where id = #{id}
              AND is_deleted = 0
              AND status = 1;
        </select>
</mapper>
